{% extends "base_index.html" %}
{% block content%}
<br />
<br />
This is <a href="/view?id=1006">Aaron Frank</a>. He is happy.<br /><br />
This is <a href="/view?id=1009">Aaron Sidorov</a>. He is also happy.<br /><br />
Aaron &amp; Aaron are friends. This makes them both happy.<br /><br />
Aaron &amp; Aaron created this website because they want you to be happy.<br /><br />
Smile!<br />
<br/>
Contact us: <a href="mailto:arfrank@tensecondsofhappy.com">arfrank@tensecondsofhappy.com</a>
{% endblock %}